body {
	font-family: 'Poppins', sans-serif;
}

// => ==== Content Start ====
.page-content {
	margin-top: 100px;
}
// => ==== Content End ====

// => ==== Footer Start ====
footer {
	border-top: 1px solid #e4e4e4;
	margin-top: 150px;

	p {
		color: #979797;
	}
}
// => ==== Footer End ====

// +> ==== Form Start ====
.form-control {
	background-color: #f3f3f3;
}
// +> ==== Form End ====
